* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* assim a medida vai vir da borda */
}

/* criando variaveis para se utilizar no CSS */
:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color:rgba(255, 255, 255, 0.5); 
  --surface-color:rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(255, 255, 255, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color:rgba(0, 0, 0, 0.5);
  --surface-color:rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
}

body {
  /*
    background: url(./assets/assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    */

  /* background: color imagem repeat position/size*/
  background: var(--bg-url) no-repeat top center/cover;
}

/* 
    - seletor universal todos os elementos dentro do body irão usar;
    - display none é Uma propriedade CSS que oculta um elemento da página;
    - margin e o padding: é O margin é o espaço entre um elemento e seus vizinhos, enquanto o padding é o espaço entre o conteúdo do elemento e sua borda;
    - forma de centralizar um elemento é a propriedade margin: auto
*/
body * {
  font-family: "Quicksand", sans-serif;
  color: var(--text-color);
}

#container {
  width: 360px;
  margin: 56px auto 0px; /* ou padding-top */
  padding: 0 24px;
}

/* profile */
#profile {
  text-align: center;
  padding: 24px;
}

/* img é um elemento inline */
#profile img {
  width: 112px;
}

#profile p {
  /* margin: 8px auto 3px auto; 8px em cima, auto nas lateral direita, 0px embaixo, auto na lateral esquerda*/
  font-weight: 500;
  line-height: 24px; /* altura da linha */
  margin-top: 8px;
}

/* switch */
#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute; /* libera as propriedades z-index, top, left */
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
}

.light #switch button {
  right: 0;
  left: initial;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;

}

/* lista */
ul {
  list-style: none;
  display: flex;
  flex-direction: column; /**/
  gap: 16px; /* o gap vai colocar espaço entre os elementos */
  padding: 24px 0;
}

/* O display: flex deixa os elementos dentro da caixa um a lado do outro */
ul li a {
  background: var(--surface-color);
  padding: 16px 24px;
  display: flex;
  justify-content: center; /* coloca o conteudo como centro. align-items também deixa no meio, mas o left continua 0 */
  align-items: center;
  border: 1px solid var(--stroke-color);
  /* RGBA: red, green, blue, alfa(transparencia) */
  border-radius: 8px; /* arredondamento de borda */
  /* https://caniuse.com pra saber quais navegadores aceitam essa propriedade */
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none; /* para tirar a linha de baixo do botão */
  font-weight: 500;
  transition: background 0.2s;
}

/* pseudo-selector aplica as coisas quando passar o mouse em cima*/
ul li a:hover {
  background-color: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

#social-links {
  display: flex; /* colocando display flex pra poder habilitar o gap*/
  padding: 24px 0; 
  font-size: 24px; /* altera o tamanho de todos elementos dentro do social-links */
  justify-content: center;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s;
  padding: 16px;
  border-radius: 50%;
}

#social-links a:hover {
  background-color: var(--highlight-color);
}

footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}
